.alert{padding: 0.2em; margin: 1em 0; color: var(--white-color); text-align: center; opacity: 0;}
.alert.error { background-color: var(--red-alert);}
.alert.success { background-color: var(--green-alert);}