<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolFinder API | Login</title>
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <a href="/">
                <div id="logo">
                    <h1>School</h1>
                    <h1>Finder</h1>
                    <h1>API</h1>
                </div>
            </a>
        </div>
    </nav>
    <main id="login">
        <div class="container">
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="email">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div>
                    <button type="submit" id="google_login_btn">Login with Google</button>
                </div>
                <div>
                    <p class="alert error">Wrong email or password</p>
                </div>
                <div>
                    <span>Forgot password? <a href="/request_reset_code">Click here to reset</a></span>
                </div>
                <div>
                    <span>Don't have an account yet? <a href="/register">Create Account</a></span>
                </div>
            </form>
        </div>
    </main>
</body>
</html>