<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolFinder API</title>
    <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <a href="/">
                <div id="logo">
                    <h1>School</h1>
                    <h1>Finder</h1>
                    <h1>API</h1>
                </div>
            </a>
        </div>
        <div class="user_login">
            <div class="container">
                <div id="user_email">kajubufaraji@gmail.com</div>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <main id="user_account">
        <div class="container">
            <!-- <header>
                <h2>Welcome, Faraji</h2>
            </header> -->
            <section>
                <div>
                    <h5 class="heading">API endpoint</h5>
                    <code>
                        http://localhost:4000/schools
                    </code>
                    <button>Copy endpoint</button>
                </div>
                <div>
                    <h5 class="heading">Your API key</h5>
                    <code>
                        AjklocLzZoooaz893&@jl
                    </code>
                    <button>Copy API Key</button>
                    <button>Regenerate Key</button>
                </div>
                <div>
                    <h5 class="heading">Request (Javascript)</h5>
                    <code>
                        AjklocLzZoooaz893&@jl
                    </code>
                    <button>Copy request code</button>
                </div>
                <div>
                    <h5 class="heading">Response</h5>
                    <p>An array of school objects</p>
                    <code>
                        [{
                            school_name: Arusha Technical college,
                            school_level: College,
                            school_type: Public,
                            religion: Mixed,

                        }]
                    </code>
                </div>
            </section>
        </div>
    </main>
</body>
</html>